html,
body{
    min-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #101010;
}
.main_content{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.fl{
    float: left!important;
}
.fr{
    float: right!important;
}
ul,li{
    list-style: none;
}
.none{
    display: none;
}
.clear{
    clear: both;
}
table{
    width: 100%;
}
.justify{
    text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
}